# Project specific ignores
userLogins.csv
settings
logs/

# Java specific ignores
*.class
*.jar

# Eclipses specific ignores
.classpath
.project
.settings/

# IntelliJ specific ignores
.idea/

# OSX specific ignores
.DS_STore
