Timestamp,Username: (Your netid),Password,"Years until graduation (if a rising senior in fall 2015, type in 1)"
someTimestampHere,netid123,superl33tpassword,1
someTimestampHere,netid123,superl33tpassword,1
someTimestampHere,netid123,superl33tpassword,1
someTimestampHere,netid123,superl33tpassword,1
someTimestampHere,netid123,superl33tpassword,1
someTimestampHere,netid123,superl33tpassword,1

